* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Kodchasan', sans-serif;
	/*font-family: 'Julius Sans One', sans-serif;*/

	/*font-family: 'Orbitron', sans-serif;	*/
}

html {
	scroll-behavior: smooth;
	background-color: #dff0ea;
}

.mt-icon{
	height: 50px;
	height: 50px;
}


#jumbotron-section {
	margin-top: 55px;
}


.btn>a {
	color: #f2f2f2;
	text-decoration: none;
}


#port-jumbo {
	border: 8px solid #302387; /* 007bff*/
	padding: 8em 4em;
	border-radius: 10px;
	width: 60%;
}

#jumbo-div {
	height: 90vh;
	padding-top: 10%;
	background-color: #f2f2f2;
	border-radius: 0;
	margin: 0;
	background-image: url("../images/b1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron h1 {
	color: #302387;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
}

.jumbotron p {
	color: #f2f2f2;
}


#portfolio {
	background-color: #e3e7f1;
}

#my-pic {
	/*border-radius: 20px;*/
}

.card-title {
	color: #302387;
}

.card-content {
	color: #302387;
}

.card {
	height: 500px;
}

#about-me {
		background-color: #e3e7f1;
}

#about-developer {
	/*background-color: #f2f2f2;*/
	color: #302387;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Orbitron', sans-serif;
}

#about-me-content {
	font-size: 32px;
}

#my-pic {
	border-radius: 50px;
}

/* for mobile */
@media only screen and (max-width: 400px) {
	#jumbo-div {
		height: 100%;
	}

	#port-jumbo {
		width: 100%;
		margin-top: 10vh;
		padding-top: 5em;
		padding-bottom: 5em;
	}

	.jumbotron h1 {
		font-size: 24px;
	}

	.jumbotron p {
		font-size: 17px;
	}

	#about-me-content {
		font-size: 24px;
	}

	#about-developer {
		font-size: 35px;
	}
}


/* for tablets */
@media only screen and (min-width: 410px) and (max-width: 960px) {
	#jumbo-div {
		height: 100%;
	}

	#port-jumbo {
		width: 100%;
		margin-top: 10vh;
		padding-top: 5em;
		padding-bottom: 5em;
	}

	.jumbotron h1 {
		font-size: 24px;
	}

	.jumbotron p {
		font-size: 17px;
	}

	#about-me-content {
		font-size: 24px;
	}

	#about-developer {
		font-size: 40px;
	}

}

/* for desktop */
@media only screen and (min-width: 961px) {

}